<section class="">
    <!-- Footer -->
    
    <footer class="bg-dark text-center text-white fixed-bottom">
      <!-- Grid container -->
      <!-- <div class="fixed-bottom">...</div> -->
      
      <div class="container w-100 p-2 pb-1">
        <!-- Section: CTA -->
        <section class="">
          
          <p class="d-flex justify-content-center align-items-center text-light">
            <span class="me-3">Register for free</span>
            <button type="button" class="btn btn-outline-light btn-rounded text-light bg-dark data-bs-toggle="button" autocomplete="off">
             
              Sign up!
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-1 shadow-lg" style="background-color: rgba(255, 0, 255,0.8);"></div>
      <div class="text-center p-1 shadow-lg" style="background-color: rgba(0, 0, 0);">
        © 2022 Copyright:
        <a class="text-white" href="/">PYSTUDENTS</a>
      </div>
      <div class="text-center p-1 shadow-lg" style="background-color: rgba(255, 0, 255,0.8);"></div>
  
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    