<!--nav bar-->
<div class="text-center p-1" style="background-color: rgba(255, 0, 255, 0.9);"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="\static\design01.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        PYSTUDENTS
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/main">MAIN</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/registration">REGISTRATION</a>
        </li>
      </ul>
      